body
{
    background-position: center;
    background-size: cover;
}

.link
{
    background: white;
    border-radius: 5px;
    width: 300px;
    margin-top: 15px;
    font-size: medium;
}

.link:hover
{
    font-size: larger;
}

.header
{
    font-size: 45px;
    font-family: fantasy;
    font-weight: bold;
}